<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/footer.css">
        <title>Operation: Health</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>
            <section id="greeting">
                <h1>Welcome to your dashboard, <%= user.Username %></h1>
            </section>

            <section id = "goals">
                <h3>Current Goals:</h3>

                <section id="displayGoals">

                    <% goals.forEach(goal => {%>
                        <% if(!goal.Completed) { %>
                            <p><b>Goal <%= goal.Count %>: </b>Type = <%= goal.Type %>, 
                                Goal = <%= goal.value %>, Expired = <%= goal.expired %></p>
                        <% } %>
                    <% }) %>
                
                </section>

                <section id="addGoal">

                <h3><%= dashboard.addGoal %></h3>

                    <form method="POST" action="/users/addGoal">
                        <fieldset>
                            <label><%= dashboard.typeText %></label>
                            <select name="type" id="type">
                                <% dashboard.goalTypes.forEach( goalT => {%>
                                    <option value="<%= goalT %>"><%= goalT %></option>
                                <% }) %>
                            </select>
                            <label><%= dashboard.valueText %></label>
                            <input id="value" type="number" name="value" placeholder="<%= dashboard.value %>" required>
                            <label><%= dashboard.dateText %></label>
                            <input id="date" type="date" name="date" placeholder="<%= dashboard.date %>" required>
                            <button id="submit">Add</button>
                        </fieldset>
                    </form>

                </section>

                <section>

                    <form method="POST" action="/users/completeGoal">
                        <fieldset>
                            <select name="goalID" id="goal">
                                <% goals.forEach(goal => {%>
                                    <% if(!goal.Completed){ %>
                                        <option value="<%= goal.GoalID %>">Goal <%= goal.Count %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                            <button id="submit">Mark Complete</button>
                        </fieldset>
                    </form>

                </section>

                <h3>Completed Goals</h3>

                <section id="completedGoals">

                    <% goals.forEach(goal => {%>
                        <% if(goal.Completed) { %>
                            <p><b>Goal <%= goal.Count %>: </b>Type = <%= goal.Type %>, 
                                Goal = <%= goal.value %>, Expired = <%= goal.expired %></p>
                        <% } %>
                    <% }) %>

                </section>

            </section>
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>