<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/footer.css">
        <title>Operation: Health</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>
            <section style="display: block;">
                <h1>Welcome to your dashboard, <%= user.Username %></h1>
            </section>

            <section id = "goals" style="display: block;">
                <h3><%= dashboard.addGoal %></h3>

                <form method="POST" action="/users/addGoal">
                    <fieldset>
                        <input id="duration" type="number" name="duration" placeholder="<%= dashboard.duration %>">
                        <input id="distance" type="number" name="distance" placeholder="<%= dashboard.distance %>">
                        <input id="calories" type="number" name="calories" placeholder="<%= dashboard.calories %>">
                        <input id="weight" type="number" name="weight" placeholder="<%= dashboard.weight %>">
                        <button id="submit">Add</button>
                    </fieldset>
                </form>

            </section>
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>