<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/diet.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/footer.css">
        <title>Operation: Health</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>
            <h2>Make a diet entry</h2>
            <form method="POST" action="/diet/dietentry">
                <fieldset>
                    <p>Select a meal</p>
                    <select name="mealID" id="meal">
                        <% meals.forEach(meal => { %>
                          <option value="<%= meal.MealID %>"><%= meal.Name %></option>
                        <% }) %>
                    </select>
                    <button id="submit">
                        Add
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>
            <h2>Create a new meal</h2>
            <form method="POST" action="/diet/meal">
                <fieldset>
                    <p>Create a meal</p>
                    <input id="name" type="text" name="name" required>
                    <p>Add food or drink </p>
                    <div id="consumables">
                        <div class="consumables">
                            <select name="consumables" required>
                                <% consumables.forEach(consumable => { %>
                                  <option value="<%= consumable.ConsumableID %>"><%= consumable.Name %></option>
                                <% }) %>
                              </select>
                        </div>
                    </div>
                    <button type="button" onclick="addConsumable()">Add more to the meal</button>
                    <button id="submit">
                        Add
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>
            <h2> Create a new food or drink</h2>
            <form method="POST" action="/diet/consumable">
                <fieldset>
                    <p>Enter new food or drink name</p>
                    <input id="name" type="text" name="name" required>
                      <p>Food or Drink</p>
                      <select name="type" id="type">
                          <option value="food">Food</option>
                          <option value="drink">Drink</option>
                        </select>
                    <label>Enter the amount of calories</label>
                    <input id="calories" type="text" name="calories" required>
                    <label>Enter the amount of fats</label>
                    <input id="fats" type="text" name="fats" required>
                    <label>Enter the amount of saturates</labelp>
                    <input id="saturates" type="text" name="saturates" required>
                    <label>Enter the amount of carbohydrates</label>
                    <input id="carbohydrates" type="text" name="carbohydrates" required>
                    <label>Enter the amount of sugar</label>
                    <input id="sugar" type="text" name="sugar" required>
                    <label>Enter the amount of fibre</label>
                    <input id="fibre" type="text" name="fibre" required>
                    <plabel>Enter the amount of protein</label>
                    <input id="protein" type="text" name="protein" required>
                    <label>How many grams is the values above for?</label>
                    <input id="amount" type="text" name="amount" required>
                    <button id="submit">
                        Add
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>
            <!-- Display history of diet entries -->
        </main>
        <%- include('../common/footer.ejs') %>
    </body>

    <script>
        function addConsumable() {
            const container = document.getElementById('consumables');
            const div = document.createElement('div');
            div.className = 'consumable';
            const select = document.createElement('select');
            select.name = 'consumables';
            select.required = true;
            select.innerHTML = `<% consumables.forEach(consumable => { %>
                                <option value="<%= consumable.ConsumableID %>"><%= consumable.Name %></option>
                              <% }) %>`;
            container.appendChild(div);
            div.appendChild(select);
        }
      </script>
</html>